*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a:link,
a:visited{
    text-decoration: none;
    font-family: 'Asap','sans-serif';
}

.img-fluid{
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
}

ul{
    list-style: none;
}